* {
    margin: 0;
    font-family: 'Nunito';
    font-size: 20px;
}


p, li{
    color: #4a4a4a;
    text-align: justify;
    margin-block:0 ;
}

h1,h2{
    color: #373737;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    background-color: #f5f5f5;
}

/*NAVBAR*/

.header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(28, 28, 28); 
    box-shadow: 1px 1px 6px #888888; 

}

.navbar{

    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;    
    transition: 1s;
}

.navbar a{
    font-size: 20px;
    color: rgb(231, 231, 231);
}

.navbar li{
    list-style:none;
}


.link {
    text-decoration: none;
    /* color: rgb(0 124 183); */
    
}

.link h1{
    display: none;
}

.link img{

    height: 50px;
}

.link:hover{
    color: rgb(131, 118, 118) !important;
}



.icon-responsive{
    display: none;
    color: black; 
}

.dropdown-item{
    color: #8b8989 !important;
}


/*navbar responsive*/

.navbar-responsive{
    background-color: rgb(107, 107, 107);
    flex-direction: column;
    position: fixed;
    transition: .5s;
    left: -100%;
    top: 70px;
    width: 100%;
    box-shadow: 0 4px 2px -2px #888888;
 }

 .showmenu{
    display: none;
}

.responsive-link{
    padding: 10px;
    border-bottom: solid white 1px;
    /* color: rgb(239, 239, 239); */
    /* background-color: #4d7ecb; */
    background-color: #69abab;
    color: white !important;
}

 .container-main{
    padding: 0 calc(2.5vw + 10px);
}



.main{
    margin-top: 20px;
    height: auto;
    background-color: rgb(255, 255, 255);
}




.container-welcome{

    width: 100%;
    padding: 15px;
    background-color: #efefef;

}


.information{
    display: flex;
    flex-direction: row;

}


.categories{
    border: #d5d5d5 solid 1px;
    border-radius: 10px;
    padding: 30px;
}

.categories h2{
    font-size: 25px;
}


.item-category{
    cursor: pointer;
}

.item-category:hover{
    background-color: #6fb2b2;
}



.news{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border: none;

}

.tittle-news{
    /* padding-left: 50px; */
    text-align: center;
}

.tittle-news h1{
    font-size: 45px;
}

/* new box */
.new{
    margin: 10px;
    width: 360px;
    border: #e4e4e4 solid 1px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.new a{
    text-decoration: none;
    color: black;
    
}

.new a:hover{
    cursor: pointer;
    color: black;
    
}




.new-image{
    width: 100%;
    height: 180px;
    background-color: #69abab;

}

.new-image img{
    width: 100%;
    height: 180px;
    
    object-fit: cover;

}



.new-text{
    width: 100%;
    height: 200px;
    background-color: #f9f9f9;
    padding: 15px;

}

.new-text h2{
    font-size: 25px;
}

.new-text p{
    font-size: 18px;
    color: #5e5e5e;
}

.new-update{
    background-color: rgb(232, 232, 232);
    text-align: center;
    align-items: center;

}


.new-update p{
    padding: 10px;
    font-size: 15px;
    padding-left: 15px;
    margin-bottom: 0;
    color: #a2a2a2;
}



/* new descripcion */


.new-information-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
}




.news-image-post{
    width: 100%;
    max-height: 500px;
    /* margin: 10px; */

}

.news-image-post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.article_subtitle{
    padding-top: 30px;
    padding-bottom: 30px;
}




.categories-container{
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    
}




.bg-footer{
    background-color: #f1f1f1;
}




.list-detail-container{
    padding: 5px;
}

.list-detail{
    padding: 5px;

}


/* article to interest */


.article-to-interest-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: none;

}




.article-to-interest{

    margin: 10px;
    width: 300px;
    border: #e4e4e4 solid 1px;
    border-radius: 5px;

}


.article-to-interest a{
     text-decoration: none;
     color: #2772be;


}

.article-to-interest a:hover{

    color: #6aadec;


}



.article-to-interest-image{

    width: 100%;
    height: 150px;
    background-color: #1c4242;

}


.article-to-interest-text h3{
    padding: 5px;
    margin: 0;
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}







@media only screen and (max-width: 1000px){


    .information{
        flex-wrap: wrap;
    }

    .categories-container{
        width: 100% !important;
    }




    .icon-responsive{
        display: block;
        color: white;
        cursor: pointer;
    }



    .links-nav, dropdown-menu{
        display: none !important;
    }


    .showmenu{
        display: flex;
    }

}


@media only screen and (max-width: 600px){

    .article_subtitle{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .tittle-news h1{
        font-size: 30px;
    }

    .tittle-news h2{
        font-size: 5px !important;
    }

    .new-information-container{
        padding-top: 15px;
    }

}